header {
    box-sizing: border-box;
    /* width: 100%; */
    /* height: 98px; */
    /* color: rgba(20, 62, 104, 0.992); */
}

/* .offcanvas {
    background-color: rgba(20, 62, 104, 0.992)
} */

.offcanvas .nav-link.show {
    color: #fff;
}

.offcanvas.show {
    background-color: rgba(20, 62, 104, 0.992);
    /* color: #fff; */
}

.offcanvas-header a {
    text-decoration: none;
    color: #fff;
}

.container-fluid {
    margin: 0 auto;
    width: 70%;
}

.navbar {
    background-color: aliceblue;
}

.logo {
    height: 80px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar-toggler {
    border: none;
}

.navbar .navbar-nav .nav-link.header-text-color {
    color: rgba(20, 62, 104, 0.992);
}


/* 點出來的menu背景跟文字變色 */
.navbar .offcanvas.show .navbar-nav .nav-link.header-text-color {
    color: #fff;
}

.navbar-nav .navbar .offcanvas.show .dropdown-menu.show .dropdown-item {
    color: #fff;
}

.navbar-nav .navbar .offcanvas.show .dropdown-menu.show {
    background-color: rgba(20, 62, 104, 0.992);
    border: none;
}

/* .offcanvas.show .btn-close{
    color: #fff;fill: #fff;
} */
/* 隱藏預設箭頭 */
.navbar .dropdown-toggle::after {
    display: none !important;
}

.offcanvas-title {
    width: 65px;
    white-space: nowrap;
}

.home-icon path {
    /* fill: #143E68; */
    fill: #fff;
}


/* Navbar 上的文字維持原本顏色 */
/* .navbar .navbar-nav .nav-link.header-text-color {
    color: rgba(20, 62, 104, 0.992) !important;
} */

/* Offcanvas 背景色及文字 */
/* .offcanvas-custom {
    background-color: #143E68;
} */

/* Offcanvas 內連結文字、hover */
/* .offcanvas-custom .nav-link,
.offcanvas-custom .dropdown-item {
    color: #fff !important;
} */

/* .offcanvas-custom .nav-link:hover,
.offcanvas-custom .dropdown-item:hover {
    color: #FFD700 !important;
    background-color: transparent;
} */

/* 關閉按鈕改白色 */
/* .offcanvas-custom .btn-close {
    filter: invert(1);
} */