
.card{
    margin-top: 2%;
}

.card-bg {
    background-color: #164069;
    color: #fff;
    text-align: center;
}



.table {
    margin-bottom: 0;
}

table tbody th {
    text-align: center;
}

table tbody tr {
    height: 3.5rem;
}